@define-color background-normal #2c2a24;
@define-color background-light #3a372f;
@define-color background-dark #14161B;

@define-color foreground-normal #fbad30;
@define-color foreground-dark #cc820c;
@define-color foreground-light #fac269;

@define-color second-foreground-normal #36d67b;
@define-color second-foreground-light #61f2a0;
@define-color second-foreground-dark #09963b;

@define-color accent-normal #4a9191;
@define-color accent-light #73e6e6;
@define-color accent-dark #0e9c9c;

@define-color text-normal #faf7f2;
@define-color text-light #ffffff;
@define-color text-dark #d4c7c7;

@define-color error-color #bd3131;
@define-color warning-color #ffff32;
@define-color success-color #31bd38;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

#custom-separator-left,
#custom-separator-right,
#custom-separator-empty {
    margin: 0 5px;
}
#custom-separator-center {
    margin: 0px 0px
}

window#waybar {
    background-color: transparent;
    border-bottom: 0;
    color: @foreground-normal;
}

tooltip {
    background-color: @background-normal;
    border-radius: 0;
    border: 4px solid @foreground-normal;
}
tooltip label {
    color: @foreground-normal;
    text-shadow: none;
}

/* Waybar-modules */
.modules-right,
.modules-center,
.modules-left {
    margin: 4px 4px;
    background-color: @background-normal;
    border: 4px solid @foreground-normal;
}

/* Modules */
#mpris {
    margin: 0 5px 0 5px;
}
#mpris.stopped {
    color: @background-light;
}

/*General modules style*/
#power-profiles-daemon,
#temperature,
#wireplumber,
#temperature,
#workspaces,
#pulseaudio,
#backlight,
#bluetooth,
#taskbar,
#network,
#battery,
#submap,
#memory,
#tray,
#disk,
#cpu {
   margin: 0 5px; 
}

#custom-poweroff,
#custom-reboot,
#custom-logout,
#custom-lock {
    font-size: 18;
    margin: 0 10px;
}

#taskbar button,
#workspaces button {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @foreground-normal;
}

#taskbar button.active { 
    color: @background-normal;
}

#workspaces button.active {
    color: @accent-normal;
}

#temperature.warning,
#battery.warning {
    color: @foreground-light;
}

#temperature.critical,
#battery.critical {
    color: @error-color;
}

#network.disconnected,
#wireplumber.muted,
#pulseaudio.muted,
#battery.normal,
#mpris.paused {
    color: @foreground-dark;
}

/* Tray */
#tray menu {
    color: @foreground-normal;
    background-color: @background-normal;
    border-radius: 0;
    border: 4px solid @foreground-normal;
}

#tray menuitem:hover {
    color: @background-normal;
    background-color: @foreground-normal;
}

#tray.passive {
    color: @foreground-dark;
}

#tray.needs-attentions {
    color: @accent-normal;
}

/* Groups */

#information,
#hardware,
#player,
#system,
#time,
#tools {
    margin: 0 0px;
}
